
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <title>Edit Profile</title>
</head>

<body>


<style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7  mx-auto">

                <form class="account-form px-4 pt-4" method="post" enctype="multipart/form-data">

                    {% if user_form.is_valid and profile_form.is_valid  %}
                    <div class="alert alert-primary" role="alert">
                        Details successfully updated!
                    </div>
                    <p class="small text-center pt-0">
                        <a href="{% url "User:dashboard" %}">Back to Dashboard</a>
                    </p>
                    {% else %}
                    <h3>Change your details</h3>
                    <p>You can edit your account using the following form:</p>
                    {% endif %}

                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Error: Please try again!
                    </div>
                    {% endif %}

                    {% csrf_token %}
                    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
                    {{ user_form.email }}
                    <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
                    {{ user_form.first_name }}



                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"
                        value="Save changes">Save Changes</button>
                    <hr class="mb-3">
                </form>
                     <form class="account-form px-4" action="{% url "User:delete_user" %}" method="post">
                        {% csrf_token %}
                        <p class=" h3 pt-4 font-weight-bold">Delete Account</p>
                        <p>Are you sure you want to delete your account?</p>
                        <button type="submit" role="button"
                            class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Delete</button>
                    </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>